body {
    font-family: "Lato", serif;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
}
@media screen {
    body {
        width: 95%;
        max-width: 960px;
    }
}

section {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}
div {
    width: 100%;
    display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
}
h1,
h2,
h4 {
    font-weight: 400;
}
ul {
    list-style: url("../elements/bullet.svg");
}

#skills-sections ul:not(.full-width) {
    width: 25%;
    display: inline-block;
}

.page-header {
    align-content: space-between;
    align-items: center;
}
.section-header {
    width: 160px;
}
.section-content {
    width: 100%;
    max-width: 780px;
}
.contact {
    text-align: right;
}

@media print {
    @page {
        margin: 0.75cm;
    }
    body {
        margin-top: 0;
        break-inside: avoid;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0;
    }
    div {
        width: 100%;
        display: inline-block;
    }
    .noprint {
        display: none !important;
    }
    .summary {
        display: block;
        clear: both;
        width: 100%;
        padding-left: 5%;
    }
    .section-header {
        width: 18%;
        font-size: 10pt;
    }
    #skills .section-header h2 {
        margin-top: 22px;
    }
    .section-content p {
        break-inside: avoid;
        break-after: auto;
    }
}
