body {
    font-family: 'Lato', serif;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    max-width: 960px;
}
section {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}
div {
    width: 100%;
    display: inline-block;
}

@media screen and (max-width: 989px) {
    section {
        display: block;
        width: 100%;
        padding-bottom: 5px;
    }
    div {
        display: block;
    }
    div.contact {
        text-align: left !important;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
}
h2,
h3 {
    font-size: 20px;
    line-height: 52px;
    vertical-align: baseline;
}
h1,
h2,
h4 {
    font-weight: 400;
}

h3 .location {
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 0.4em;
}

ul {
    list-style: url('../elements/bullet.svg');
}

#skills-sections ul:not(.full-width) li {
    display: inline-block;
    width: 33%;
    overflow-x: visible;
}
#skills-sections ul:not(.full-width) li::before {
    /* re-hack in fancy bullets since these list items are not `display`ed `list-item` */
    content: url('../elements/bullet.svg');
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 0.5rem;
    margin-left: -0.75rem;
    position: absolute;
}

.page-header {
    align-content: space-between;
    align-items: center;
}
.section-header {
    width: 160px;
}
.section-content {
    width: 100%;
    max-width: 780px;
}

.contact {
    text-align: right;
}
.contact p {
    padding: 0;
    margin: 0;
}

@media print {
    @page {
        margin: 0.75cm;
    }
    body {
        width: 100%;
        max-width: initial;
        margin-top: 0;
    }
    section div {
        break-inside: avoid;
    }
    div {
        width: 100%;
        display: inline-block;
    }
    h2,
    h3 {
        font-size: 14px;
        line-height: 22px;
        vertical-align: baseline;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    #summary {
        display: block;
        clear: both;
        margin: 10px 5% 10px 5%;
    }

    .noprint {
        display: none !important;
    }
    .section-header {
        width: 15%;
        font-size: 10pt;
    }
    .section-content {
        padding: 0;
        margin: 0;
    }
    .contact p {
        display: inline;
    }
    .contact p:not(:first-child)::before {
        content: ' | ';
    }
}
